.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(59, 59, 59, 0.58);
  width: 41.5rem;
  border-radius: 2rem;
  overflow: hidden;
  overflow-y: auto;
}
/* 
.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.container::-webkit-scrollbar-thumb {
  background: rgb(243, 105, 19);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: rgb(243, 105, 19);
} */

.container {
  scrollbar-width: 0.2rem;
  scrollbar-color: rgb(243, 105, 19) #1a1a1a;
}

.message {
  font-size: 2rem;
  margin: 28rem auto;
  text-align: center;
}
